APP_ENV=dev
APP_DEBUG=true

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=sasd_logging
DB_USERNAME=logging_service
DB_PASSWORD=please_change_me

SERVICE_LOG_ENABLED=true
SERVICE_LOG_FILE=var/log/service.log
SERVICE_LOG_LEVEL=info
